// mixins/_color.scss
@use '../functions/colors';

@mixin color-styles($bg-color, $shade: 500, $states: false, $theme: 'light') {
    background-color: colors.get-color($bg-color, $shade, $theme);
    color: colors.text-color(colors.get-color($bg-color, $shade, $theme));

    @if ($states) {
        &:hover {
            background-color: colors.get-color($bg-color, 'A700', $theme);
        }

        &:active {
            background-color: colors.get-color($bg-color, 'A400', $theme);
        }
    }
}

@mixin color-outline-styles($color, $shade: 500, $states: false, $theme: 'light') {
    background-color: transparent;
    border: 1px solid colors.get-color($color, $shade, $theme);
    color: colors.get-color($color, $shade, $theme);

    @if ($states) {
        &:hover {
            background-color: colors.get-color($color, 'A700', $theme);
            color: colors.text-color(colors.get-color($color, 'A700', $theme));
        }

        &:active {
            background-color: colors.get-color($color, 'A400', $theme);
            color: colors.text-color(colors.get-color($color, 'A400', $theme));
        }
    }
}
